# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.DS_Store
*.atom/
*.buildlog
*.sublime-project
*.sublime-workspace
*.tmLanguage.cache
*.tmPreferences.cache

# IntelliJ
.idea/
*.iml

# Visual Studio Code
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
android/app/src/main/assets/flutter_assets/
android/app/src/main/res/drawable-hdpi/
android/app/src/main/res/drawable-mdpi/
android/app/src/main/res/drawable-xhdpi/
android/app/src/main/res/drawable-xxhdpi/
android/app/src/main/res/drawable-xxxhdpi/

# iOS
ios/Flutter/App.framework
ios/Flutter/engine.version

# Local configuration
lib/firebase_options.dart
*.env